main {
    color: gainsboro;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 100px
      50px
      1fr
      100px
      200px;
    grid-template-areas:
      "my-header my-header my-header"
      "my-nav my-nav my-nav"
      "my-section my-section my-section"
      "my-aside my-aside my-aside"
      "my-footer my-footer my-footer"
  }
  